/****************************************************/
/*************CSS reset by Kevin Powell**************/
/****************************************************/

*, *::before, *::after {
    box-sizing: border-box;
}

/* remove all the default styling */
* {
    margin: 0;
    padding: 0;
    font: inherit;
}

/* follow the color scheme the user is using */
html {
    color-scheme: dark light;
}

body {
    min-height: 100vh;
}

/* make all the media responsive */
img, picture, svg, video {
    display: block;
    max-width: 100%;
}

/* forms fields and other elements inherit the font properties */
input, textarea, button, select {
    font: inherit;
}