@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Montserrat:wght@300;400;700&display=swap');

:root {
    /* color palette */
    --main-dark: #250C10;
    --main: #8C0375;
    --contrast: #F29A2E;
    --contrast-dark: #CE7910;
    --off-white: #F7FBFE;
    --grey-200: #E1E5E8;
    --grey-400: #C0C4C7;
    --off-black: #250C10;

    /* font styles */
    --ff-main: "Montserrat", Arial, sans-serif;
    --ff-accent: "Courgette", "Lucida Handwriting", cursive;
    --fw-light: 200;
    --fw-regular: 400;
    --fw-bold: 700;
}

html {
    scroll-behavior: smooth;
    font-size: 16px;
}

body {
    font-family: var(--ff-main);
    font-weight: var(--fw-regular);
}

/*******************************************************/
/******************** navbar styles ********************/
/*******************************************************/

header {
    background-color: var(--main-dark);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0 0 22rem;
}

nav {
    background-color: var(--main-dark);
    color: var(--off-whitewhite);
    position: sticky;
    top: 0;
    z-index: 999;
    font-size: 1.5rem;
    height: 6rem;
    -webkit-box-shadow: 2px 2px 24px 0px var(--off-black);
    -moz-box-shadow: 2px 2px 24px 0px var(--off-black);
    box-shadow: 2px 2px 24px 0px var(--off-black);
}

.nav-links {
  float: right;
}

.nav-links,
.nav-links li {
    display: flex;
    align-items: center;
    height: 100%;
}

.nav-links li {
    max-width: 400px;
    padding: 0 3rem;
    transition-duration: 0.2s;
}

.nav-links li:hover,
.nav-links li:active {
    background-color: var(--main);
}

nav a {
    color: var(--off-white);
    text-decoration: none;
}
